<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - redolfiweb</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/socicon.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/socicon.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    </environment>
</head>
<body>
<div class="wrap">
    <nav class="navbar navbar-default navbar-fixed-top header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/logo.jpg" alt="logo" />
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.facebook.com/redolfi.com.ar/" alt="facebook" target="blank"><span class="socicon-facebook"></span></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span class="glyphicon glyphicon-user"></span> Acceder</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right header-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Nosotros</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Ofertas">Ofertas</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Cv">Cargá tu CV</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        @RenderBody()
    </div> 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <ul class="footer">
                        <li><h6>La empresa</h6></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">Nosotros</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Cv">Trabajá con nosotros</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <ul class="footer">
                        <li><h6>Productos</h6></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Ofertas">Ofertas</a></li>
                    </ul>
                </div>
                <address class="col-md-4 col-md-offset-4 col-sm-offset-2 col-sm-6 col-xs-12">
                    <h6>Alonso J. y José A. Redolfi SRL</h6>
                    José María Salgueiro 445<br>
                    James Craik - Córdoba - Argentina<br>
                    <abbr title="Teléfono / Fax">Tel/Fax:</abbr> 0353 - 4970244
                </address>
            </div>
            <hr class="hrfooter" />
            <div class="row">
                <p class="col-md-12">&copy; 2017 - redolfiweb</p>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</div>
</body>
</html>
