﻿@{
    ViewData["Title"] = "Nosotros";
}
<div class="container contenido">
    <div class="row">
        <div class="col-md-12">
            <h3>@ViewData["Message"]</h3>

            <p class="text">
            A.J. & J.A Redolfi SRL es una empresa con más de 50 años de experiencia en la comercialización y distribución de productos alimenticios, perfumería, limpieza y cigarrillos en el interior del país, con epicentro en la localidad de James Craik, provincia de Córdoba.
            <br><br>
            Actualmente cuenta con aproximadamente 3.500 clientes, de manera que cubre casi la totalidad de la provincia de Córdoba, incluso traspasa las fronteras provinciales llegando hasta el sur de Santa Fe, La Pampa y San Luis.
            <br><br>
            Posee una fuerza de ventas de 24 vendedores distribuidos en sus 4 sucursales.
            <br><br>
            Desde el Centro de Distribución principal ubicado en la localidad de James Craik, se centralizan las compras a los proveedores y el abastecimiento a las cuatro sucursales del interior provincial situadas en Río Tercero, San Francisco, Río Cuarto y en la ciudad de Córdoba. En esta última ciudad sólo permanece la distribuidora, ya que el supermercado mayorista se decidió cerrar a principios del año 2004.
            <br><br>
            En todas las sucursales, excepto en la ciudad de Córdoba, la empresa cuenta con salones de venta mayorista, y con preventistas o ejecutivos de cuentas para abarcar geográficamente la mayor parte de cada una de las localidades del interior de la provincia.
            <br><br>
            A través de los años, el número de empleados se ha ido incrementado hasta alcanzar las 140 personas, y una flota de 83 vehículos, que comprende desde utilitarios hasta camiones de gran porte, distribuidos entre las cuatro sucursales.
            <br><br>
            La línea de productos que la empresa ofrece es muy variada, ya que las ventas no están enfocadas hacia algún producto en particular sino a todo el surtido existente en el mercado.
            <br><br>
            La estrategia que la empresa se plantea es la de marcar una diferenciación con sus competidores a través de un servicio altamente orientado a la satisfacción del cliente y con precios competitivos. Esto es factible gracias a que brinda un amplio surtido de productos a niveles de precios bajos comparado con los competidores, dos aspectos que son sumamente valorados por los clientes del sector.
            </p>
        </div>
    </div>
</div>