﻿@{
    ViewData["Title"] = "Contact";
}
<div class="container contenido">
    <div class="row">
        <div class="col-md-12 mapa">
            <div class="col-md-4 direcciones">
                <h6>Administración Central</h6>
                <address>
                    José María Salgueiro 445<br>
                    James Craik - Córdoba - Argentina<br>
                    <abbr title="Código Postal">C.P.</abbr> X5984BGE - 
                    <abbr title="Teléfono / Fax">Tel/Fax:</abbr> 0353 - 4970244<br>
                    redolfi@redolfisrl.com.ar 
                </address>
                <h6>Sucursales</h6>
                <address>
                    <strong>Río Tercero</strong> Av. Gral. Manuel Savio 1867<br>
                    <abbr title="Código Postal">C.P.</abbr> X5850ATF - 
                    <abbr title="Teléfono / Fax">Tel/Fax:</abbr> 03571 - 428501<br>
                    riotercero@redolfisrl.com.ar 
                </address>
                <address>
                    <strong>Río Cuarto</strong> Suipacha 151<br>
                    <abbr title="Código Postal">C.P.</abbr> X5802BIC - 
                    <abbr title="Teléfono / Fax">Tel/Fax:</abbr> 0358 - 4621808<br>
                    riocuarto@redolfisrl.com.ar 
                </address>
                <address>
                    <strong>San Francisco</strong> Av. J. L. de Cabrera 1339<br>
                    <abbr title="Código Postal">C.P.</abbr> X2400CXK - 
                    <abbr title="Teléfono / Fax">Tel/Fax:</abbr> 03564 - 429329<br>
                    sanfrancisco@redolfisrl.com.ar 
                </address>
                <address>
                    <strong>Córdoba</strong> Antonio del Viso 19<br>
                    <abbr title="Código Postal">C.P.</abbr> X5001AHA - 
                    <abbr title="Teléfono / Fax">Tel/Fax:</abbr> 0351 - 4861910<br>
                    cordoba@redolfisrl.com.ar<br>
                    kodak@redolfisrl.com.ar 
                </address>
            </div>
            <div class="googlemap col-md-8">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=18AnOgkXXnhzSVWUkbnKmflH5EnA" width="640" height="480"></iframe>
            </div>
        </div>
    </div>
</div>