@{
    ViewData["Title"] = "Trabajá con nosotros";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Envianos tu CV a:</h3>
            <span>pablo_redolfi@hotmail.com</span>
        </div>
    </div>
</div>