﻿@{
    ViewData["Title"] = "Home";
    string[] slides = (string[])ViewData["slides"];
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for(var i = 0; i < slides.Length; i++)
        {
            @if(i == 0)
            {
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to="@i" ></li>
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for(var i = 0; i < slides.Length; i++)
        {
            @if(i == 0)
            {
                <div class="item active">
                    <img src="~/images/slide/@slides[i]" alt="Redolfi" class="img-responsive" />
                </div>        
            }
            else
            {
                <div class="item">
                    <img src="~/images/slide/@slides[i]" alt="Redolfi" class="img-responsive" />                    
                </div>
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>