@{
    ViewData["Title"] = "Ofertas";
}
@using System.Text.RegularExpressions;
<div class="container contenido">
    <h3>Descargá nuestras ofertas semanales</h3>
    <div class="row">
        <ul class="ofertas">
            @foreach(var item in ViewBag.files)
            {
                <li class="col-md-2 col-sm-4">
                    <a href="~/descargas/@item" target="blank">
                        <img src="~/descargas/@Regex.Replace(@item,@".pdf$", ".jpg")" alt="@item" class="img-responsive img-thumbnail" />
                        <h6>@Regex.Replace(@item,@".pdf$", "")</h6>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="row celular">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="~/images/mobile.png" alt="mobile" class="mobile" />
        </div>
        <div class="col-md-3 col-sm-3 hidden-xs">
            <img src="~/images/qr_code.jpg" alt="qr code" class="qr" />                
        </div>
        <div class="col-md-5 col-sm-5 col-xs-offset-1 col-xs-5">
            <h6>Llevá las ofertas en tu celular!</h6>
            <span>Scaneá el código QR y accedé a las ofertas semanales</span>
        </div>
    </div>
</div>