﻿$redolfi-color: #D22;
$blanco: #FFF; 
$fuente-gris: #444;
$fuente-grisclaro: #DDD;
$fondo-gris: #DDD;
$fondo-oscuro: #222;
$header-size: 100px;
$footer-size: 250px;

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-top: $header-size;
    font-family: Raleway, sans-serif;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

h3 {
    color: $redolfi-color;
    padding-bottom: 30px;
}

h6 {
    text-transform: uppercase;
    font-weight: 700;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* contenidos */
.contenido {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* header */
.navbar-header {
    height: $header-size;
}

.header {
    background-color: $blanco;
    height: $header-size;
    font-family: Montserrat, sans-serif;
    box-shadow: 0px 0px 10px $fuente-gris;
    .header-nav {
        font-size: 1.1em;
        margin-top: 46px;
        margin-right: -150px;
        a {
            color: $fuente-gris;
            &:hover, &:active {
                color: $redolfi-color !important;
                background-color: $blanco;
                border-bottom: 4px solid $redolfi-color;
            }
            &:visited {
                background-color: $blanco;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .header {
        .header-nav {
            margin-top: -54px;
            margin-right: -15px;
        }
    }
    .googlemap {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .navbar-toggle {
        margin-top: 30px;
    }
    .navbar-collapse {
        background-color: $blanco;
        .header-nav {
            margin: 7.5px -15px;
            a:hover, a:active {
                background-color: $redolfi-color !important;
                color: $blanco !important;
                border: none;
            }
            a:visited {
                background-color: $blanco;
            }
        }
    }
}

@media screen and (max-width: 339px) {
    .navbar-brand {
        img {
            width: 200px;
        }
    }
}

/* contenido */
.wrap {
    min-height: 100%;
    position: relative;
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

.content{
    padding-bottom: $footer-size;
}

/* footer */
footer {
    background-color: $fondo-oscuro;
    color: $fuente-grisclaro;
    position: absolute;
    min-height: $footer-size;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width:100%;
}

.footer {
    padding: 0;
    li {
        padding: 0;
        list-style: none;
        a:link, a:visited {
            color: $fuente-grisclaro;
        }
        a:hover, a:active {
            color: $blanco;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
}

.hrfooter {
    border-top: 1px solid $fuente-gris;
}

/* ofertas */
.ofertas {
    padding: 0;
    list-style: none;
    li {
        margin-bottom: 70px;
    }
    a {
        text-align: center;
        img {
            width: 100%;
            margin: 0 auto;
        }
    }
    a:link, a:visited {
        color: $redolfi-color;
    }
    a:hover, a:active {
        color: $redolfi-color;
        text-decoration: none;
    }
}

.mobile {
    position: absolute;
    top: -70px;
}

.celular {
    position: relative;
    height: 200px;
    padding: 30px;
    margin-bottom: 30px;
    color: $blanco;
    background-color: $redolfi-color;
}

.qr {
    width: 100px;
}

/* nosotros */
.text {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; 
}

@media screen and (max-width: 768px) {
    .text {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}


/* Contacto */
.googlemap {
    height: 600px;
    padding: 0;
    border: none;
    iframe {
        border: none;
        width: 100%;
        height: 600px; 
    }
}

.mapa {
    padding-right: 0;
}

.direcciones {
    height: 600px;
    padding: 30px;
    color: $blanco;
    background-color: $redolfi-color; 
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
