@charset "UTF-8";
html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  font-family: Raleway, sans-serif; }

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif; }

h3 {
  color: #D22;
  padding-bottom: 30px; }

h6 {
  text-transform: uppercase;
  font-weight: 700; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px; }

/* contenidos */
.contenido {
  padding-top: 50px;
  padding-bottom: 50px; }

/* header */
.navbar-header {
  height: 100px; }

.header {
  background-color: #FFF;
  height: 100px;
  font-family: Montserrat, sans-serif;
  box-shadow: 0px 0px 10px #444; }
  .header .header-nav {
    font-size: 1.1em;
    margin-top: 46px;
    margin-right: -150px; }
    .header .header-nav a {
      color: #444; }
      .header .header-nav a:hover, .header .header-nav a:active {
        color: #D22 !important;
        background-color: #FFF;
        border-bottom: 4px solid #D22; }
      .header .header-nav a:visited {
        background-color: #FFF; }

@media screen and (max-width: 990px) {
  .header .header-nav {
    margin-top: -54px;
    margin-right: -15px; }

  .googlemap {
    display: none; } }
@media screen and (max-width: 767px) {
  .navbar-toggle {
    margin-top: 30px; }

  .navbar-collapse {
    background-color: #FFF; }
    .navbar-collapse .header-nav {
      margin: 7.5px -15px; }
      .navbar-collapse .header-nav a:hover, .navbar-collapse .header-nav a:active {
        background-color: #D22 !important;
        color: #FFF !important;
        border: none; }
      .navbar-collapse .header-nav a:visited {
        background-color: #FFF; } }
@media screen and (max-width: 339px) {
  .navbar-brand img {
    width: 200px; } }
/* contenido */
.wrap {
  min-height: 100%;
  position: relative;
  background: #e5e5e5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); }

.content {
  padding-bottom: 250px; }

/* footer */
footer {
  background-color: #222;
  color: #DDD;
  position: absolute;
  min-height: 250px;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%; }

.footer {
  padding: 0; }
  .footer li {
    padding: 0;
    list-style: none; }
    .footer li a:link, .footer li a:visited {
      color: #DDD; }
    .footer li a:hover, .footer li a:active {
      color: #FFF;
      text-decoration: none; }

@media screen and (max-width: 768px) {
  .footer {
    display: none; } }
.hrfooter {
  border-top: 1px solid #444; }

/* ofertas */
.ofertas {
  padding: 0;
  list-style: none; }
  .ofertas li {
    margin-bottom: 70px; }
  .ofertas a {
    text-align: center; }
    .ofertas a img {
      width: 100%;
      margin: 0 auto; }
  .ofertas a:link, .ofertas a:visited {
    color: #D22; }
  .ofertas a:hover, .ofertas a:active {
    color: #D22;
    text-decoration: none; }

.mobile {
  position: absolute;
  top: -70px; }

.celular {
  position: relative;
  height: 200px;
  padding: 30px;
  margin-bottom: 30px;
  color: #FFF;
  background-color: #D22; }

.qr {
  width: 100px; }

/* nosotros */
.text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em; }

@media screen and (max-width: 768px) {
  .text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; } }
/* Contacto */
.googlemap {
  height: 600px;
  padding: 0;
  border: none; }
  .googlemap iframe {
    border: none;
    width: 100%;
    height: 600px; }

.mapa {
  padding-right: 0; }

.direcciones {
  height: 600px;
  padding: 30px;
  color: #FFF;
  background-color: #D22; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }

/*# sourceMappingURL=site.css.map */
